// Here you can add other styles

.spnr {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #121212;

  border-radius: 100%;
  -webkit-animation: spnr 1.0s infinite ease-in-out;
  animation: spnr 1.0s infinite ease-in-out;
}

.spnr.big {
  width: 2.5rem;
  height: 2.5rem;
}

@-webkit-keyframes spnr {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes spnr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.main .container-fluid {
  padding: 0 15px;
}

button:focus {
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.lh1_2 {
  line-height: 1.2;
}

.lh1_4 {
  line-height: 1.4;
}

.lh1_6 {
  line-height: 1.6;
}

.text-white-80 {
  color: rgba(255, 255, 255, .8);
}

.width-1per {
  width: 1%;
}

.b-table-mb-0 .table {
  margin-bottom: 0;
}

.table thead th {
  vertical-align: middle;
}

.el-table tr {
  cursor: pointer;
}


.course {
  padding-top: 100px;
  &__title {
    font-size: 1.7rem;
    line-height: 1.4;
    color: $app-color-green1;
    padding-bottom: 2.5rem;
    cursor: pointer;
    font-weight: 300;
  }
  &__content-card {
    ul {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6;
      color: #777;
    }
    box-shadow: 0 0 5px #ddd;
    border-color: #eee;
    padding: 1.2em;
  }
  &__img-card {
    box-shadow: 0 0 5px #ddd;
    border-color: #eee;
    img {
      width: 100%;
    }
  }
  &__costs {
    border-color: #eee;
    border-bottom: solid 1px #00000014;
    margin-bottom: 50px;
    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &:hover {
        transform: scale3d(1.05, 1.05, 1.05);
        transition-duration: .3s;
        cursor: pointer;
      }
      &__sum {
        padding: 40px;
        border-right: dashed 1px #00000014;
        strong {
          color: $app-color-green1;
          font-size: 2.5rem;
        }
      }
      &__description {
        padding-left: 40px;
        h3 {
          font-size: 1rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.el-input.is-disabled .el-input__inner {
  color: #7b7e82!important;
}

.el-textarea.is-disabled .el-textarea__inner {
  color: #7b7e82!important;
}

.el-radio-button__orig-radio:disabled + .el-radio-button__inner {
  color: #7b7e82!important;
}

.el-textarea.is-disabled .el-textarea__inner {
  font-size: 17px;
}

.card-body {
    padding: 0;
}

.button {
  color: $app-color-green1;
  border-color: $app-color-green1;
  background-color: transparent;
}