// Here you can add other styles
button:focus {
  outline: none;
}

.lh1_2 {
  line-height: 1.2;
}

.lh1_4 {
  line-height: 1.4;
}

.lh1_6 {
  line-height: 1.6;
}

.text-white-80 {
  color: rgba(255, 255, 255, .8);
}