@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../../../node_modules/swiper/dist/css/swiper.css";
@import "templates.css";

.app-bg {
  background-color: #ffffff;
}

.spnr {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #121212;

  border-radius: 100%;
  -webkit-animation: spnr 1.0s infinite ease-in-out;
  animation: spnr 1.0s infinite ease-in-out;
}

.spnr.big {
  width: 2.5rem;
  height: 2.5rem;
}

@-webkit-keyframes spnr {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes spnr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

table {
  font-size: 1rem;
}

input, select, textarea, button, a {
  font-size: 1rem;
  -moz-appearance: none;
  outline: none;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > li {
  margin: 0;
  padding: 0;
}

.app-fs-8 {
  font-size: 8px !important;
}

.app-fs-10 {
  font-size: 10px !important;
}

.app-fs-12 {
  font-size: 12px !important;
}

.app-fs-14 {
  font-size: 14px !important;
}

.app-fs-16 {
  font-size: 16px !important;
}

.app-fs-18 {
  font-size: 18px !important;
}

.app-fs-20 {
  font-size: 20px !important;
}

.app-fs-22 {
  font-size: 22px !important;
}

.app-fs-24 {
  font-size: 24px !important;
}

.app-color1 {
  color: #111111;
}

.app-color2 {
  color: #555555;
}

.app-section {
  display: block;
  min-width: 1110px;
  text-align: center;
}

.app-section > * {
  text-align: left;
}

.app-section-cont {
  display: inline-block;
  width: 1110px;
  text-align: left;
}

.btn1 {
  display: inline-block;
  padding: 1.1rem 2rem;
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  background-color: rgba(255, 255, 255, .1);
  cursor: pointer;
  transition: background-color .2s ease, color .2s ease;
}

.btn1:hover {
  color: black;
  background-color: rgba(255, 255, 255, 1);
}

.fade-in-enter-active, .fade-in-leave-active {
  transition: opacity .3s;
}

.fade-in-enter, .fade-in-leave-to {
  opacity: 0;
}

.fade-in-enter-to, .fade-in-leave {
  opacity: 1;
}
