.animated {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.sl {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.vsl {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.c-pointer {
  cursor: pointer;
}

.fs5_0 {
  font-size: 5rem;
}

.fs4_0 {
  font-size: 4rem;
}

.fs3_0 {
  font-size: 3rem;
}

.fs2_0 {
  font-size: 2rem;
}

.fs1_9 {
  font-size: 1.9rem;
}

.fs1_8 {
  font-size: 1.8rem;
}

.fs1_7 {
  font-size: 1.7rem;
}

.fs1_6 {
  font-size: 1.6rem;
}

.fs1_5 {
  font-size: 1.5rem;
}

.fs1_4 {
  font-size: 1.4rem;
}

.fs1_3 {
  font-size: 1.3rem;
}

.fs1_2 {
  font-size: 1.2rem;
}

.fs1_15 {
  font-size: 1.15rem;
}

.fs1_1 {
  font-size: 1.1rem;
}

.fs1_05 {
  font-size: 1.05rem;
}

.fs0_95 {
  font-size: .95rem;
}

.fs1_0 {
  font-size: 1rem;
}

.fs0_9 {
  font-size: .9rem;
}

.fs0_85 {
  font-size: .85rem;
}

.fs0_8 {
  font-size: .8rem;
}

.fs0_75 {
  font-size: .75rem;
}

.fs0_7 {
  font-size: .7rem;
}

.w-auto {
  width: auto !important;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-49 {
  width: 49%;
}

.w-48 {
  width: 48%;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

.minw-0 {
  min-width: 0;
}

.h-auto {
  height: auto !important;
}

.h-100 {
  height: 100%;
}

.h-90 {
  width: 90%;
}

.h-80 {
  width: 80%;
}

.h-70 {
  width: 70%;
}

.h-60 {
  width: 60%;
}

.h-50 {
  width: 50%;
}

.h-40 {
  width: 40%;
}

.h-30 {
  width: 30%;
}

.h-20 {
  width: 20%;
}

.h-10 {
  width: 10%;
}

.ws-nowrap {
  white-space: nowrap;
}

.ws-normal {
  white-space: normal;
}

.wwrap-break-word {
  word-wrap: break-word;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.pos-fix {
  position: fixed;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.d-wide-flex-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.flex {
  flex: 1;
}

.flex-0 {
  flex: 0;
}

.flex-flow-column {
  flex-flow: column;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-basis-100 {
  flex-basis: 100%;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end !important;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-sb {
  justify-content: space-between;
}

.justify-content-sa {
  justify-content: space-around;
}

.bold {
  font-weight: bold !important;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-300 {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.tdec-none {
  text-decoration: none !important;
}

.t-align-left {
  text-align: left !important;
}

.t-align-center {
  text-align: center !important;
}

.t-align-right {
  text-align: right !important;
}

.tt-upper {
  text-transform: uppercase;
}

.tt-lower {
  text-transform: lowercase;
}

.tt-cap {
  text-transform: capitalize;
}

.of-hidden {
  overflow: hidden;
}

.of-x-hidden {
  overflow-x: hidden;
}

.of-y-hidden {
  overflow-y: hidden;
}

.tof-ellipsis {
  text-overflow: ellipsis;
}

.v-align-middle {
  vertical-align: middle !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.v-align-top {
  vertical-align: top !important;
}

.no-border {
  border: 0 !important;
}

.brt-1 {
  border-top-width: 1px !important;
}

.brr-1 {
  border-right-width: 1px !important;
}

.brl-1 {
  border-left-width: 1px !important;
}

.brb-1 {
  border-bottom-width: 1px !important;
}

.m-q {
  margin: 0.25rem 0.25rem !important;
}

.mt-q {
  margin-top: 0.25rem !important;
}

.mr-q {
  margin-right: 0.25rem !important;
}

.mb-q {
  margin-bottom: 0.25rem !important;
}

.ml-q {
  margin-left: 0.25rem !important;
}

.mx-q {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.my-q {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.m-h {
  margin: 0.5rem 0.5rem !important;
}

.mt-h {
  margin-top: 0.5rem !important;
}

.mr-h {
  margin-right: 0.5rem !important;
}

.mb-h {
  margin-bottom: 0.5rem !important;
}

.ml-h {
  margin-left: 0.5rem !important;
}

.mx-h {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.my-h {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.m-0 {
  margin: 0 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-1 {
  margin: 1rem 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.mx-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-1_5 {
  margin: 1.5rem 1.5rem !important;
}

.mt-1_5 {
  margin-top: 1.5rem !important;
}

.mr-1_5 {
  margin-right: 1.5rem !important;
}

.mb-1_5 {
  margin-bottom: 1.5rem !important;
}

.ml-1_5 {
  margin-left: 1.5rem !important;
}

.mx-1_5 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.my-1_5 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.m-2 {
  margin: 2rem 2rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mx-2 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.m-2_5 {
  margin: 2.5rem 2.5rem !important;
}

.mt-2_5 {
  margin-top: 2.5rem !important;
}

.mr-2_5 {
  margin-right: 2.5rem !important;
}

.mb-2_5 {
  margin-bottom: 2.5rem !important;
}

.ml-2_5 {
  margin-left: 2.5rem !important;
}

.mx-2_5 {
  margin-right: 2.5rem !important;
  margin-left: 2.5rem !important;
}

.my-2_5 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.m-3 {
  margin: 3rem 3rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.mx-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.m-3_5 {
  margin: 3.5rem 3.5rem !important;
}

.mt-3_5 {
  margin-top: 3.5rem !important;
}

.mr-3_5 {
  margin-right: 3.5rem !important;
}

.mb-3_5 {
  margin-bottom: 3.5rem !important;
}

.ml-3_5 {
  margin-left: 3.5rem !important;
}

.mx-3_5 {
  margin-right: 3.5rem !important;
  margin-left: 3.5rem !important;
}

.my-3_5 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}

.m-4 {
  margin: 4rem 4rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.mx-4 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.my-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.p-q {
  padding: 0.25rem 0.25rem !important;
}

.pt-q {
  padding-top: 0.25rem !important;
}

.pr-q {
  padding-right: 0.25rem !important;
}

.pb-q {
  padding-bottom: 0.25rem !important;
}

.pl-q {
  padding-left: 0.25rem !important;
}

.px-q {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.py-q {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.p-h {
  padding: 0.5rem 0.5rem !important;
}

.pt-h {
  padding-top: 0.5rem !important;
}

.pr-h {
  padding-right: 0.5rem !important;
}

.pb-h {
  padding-bottom: 0.5rem !important;
}

.pl-h {
  padding-left: 0.5rem !important;
}

.px-h {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.py-h {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.p-0 {
  padding: 0 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-1 {
  padding: 1rem 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.px-1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.p-1_5 {
  padding: 1.5rem 1.5rem !important;
}

.pt-1_5 {
  padding-top: 1.5rem !important;
}

.pr-1_5 {
  padding-right: 1.5rem !important;
}

.pb-1_5 {
  padding-bottom: 1.5rem !important;
}

.pl-1_5 {
  padding-left: 1.5rem !important;
}

.px-1_5 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.py-1_5 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.p-2 {
  padding: 2rem 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.px-2 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.p-2_5 {
  padding: 2.5rem 2.5rem !important;
}

.pt-2_5 {
  padding-top: 2.5rem !important;
}

.pr-2_5 {
  padding-right: 2.5rem !important;
}

.pb-2_5 {
  padding-bottom: 2.5rem !important;
}

.pl-2_5 {
  padding-left: 2.5rem !important;
}

.px-2_5 {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}

.py-2_5 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.p-3 {
  padding: 3rem 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.px-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.color-white {
  color: white !important;
}

.color-black {
  color: black !important;
}

.color-red {
  color: red !important;
}

.color-lred {
  color: #ff4b2d !important;
}

.color-green {
  color: green !important;
}

.color-blue {
  color: blue !important;
}

.color-lightgray {
  color: lightgray;
}

.color-gray {
  color: gray;
}

.color-yellow {
  color: yellow;
}

.color-lyellow {
  color: rgba(255, 255, 0, .6);
}

.color-gold {
  color: gold;
}

.bg-white {
  background-color: white !important;
}

.bg-black {
  background-color: black !important;
}

.bg-red {
  background-color: red !important;
}

.bg-green {
  background-color: green !important;
}

.bg-blue {
  background-color: blue !important;
}

.bg-lightgray {
  background-color: lightgray;
}

.bg-gray {
  background-color: gray;
}

table.bor-collapse {
  border-collapse: collapse;
}